<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="2" name="Suite" parallel="tests" verbose="5">

	<test name="My Hub Spot Test Chrome" parallel="methods" thread-count="5">
		<classes>
			<class name="com.mytest.LoginPageTest"></class>
		</classes>
	</test>


</suite>